html, body{
	font-family: 'Roboto', sans-serif; 
}
body [class*="col-"] {
	padding-left:0;
	padding-right:0;
}
body .row {
	margin-left:0;
	margin-right:0; 
}
/* container adjusted */
.header .container-fluid {
	width:100%;
	max-width:none;
	padding:0;
}
.header{
	background: url('../images/lakeside_sunset.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	padding-top: 50px;
	height: 50vh;
}
.logo{
	margin: 10px;
	padding: 10px;  
}
.card{
	background: white;
	z-index: 200;
	margin-top: -15vh;
	margin-left: 5vw;
	margin-right: 5vw;
	overflow: hidden;	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	
}
.canvass{
	background: url('../images/chair.jpg') no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 991px) {
    .canvass {
    	width: 100%;
 		height: 550px;      
    }
}
.registration{
	padding-bottom: 25px;
	overflow-y: hidden;
}
.registration .title{
	margin: 10px;
	padding: 10px;
	font-size: 32px;
}
.sponsor{

}
.price-tag{
	text-align: center;
	margin: 10px;
	font-size: 25px;
	font-weight: 300;
}
.form{
	margin: 10px;
	padding: 10px;
	

}
.register-btn{
	border-radius: 0px;
	border: 5px solid #244356;
	background-color: transparent;
	color:#244356; 
}
.register-btn:hover{
	border-radius: 0px;
	border: 5px solid #244356;
	background-color: #244356;
	color:#fff; 
}
.form .title{
	font-size: 20px;
	font-weight: 400;
	margin: 0px;
	padding: 10px;
}
.form-control {
	border-radius: 0px;
}
.food-coupon{
	padding: 5px;
	margin: 5px; 
}
.coupon-btn{

}
.coupon-img-bw{
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
}
#coupon-img{
	width: 65%;
}
.add-food{
	border-radius: 0px;
	border: 5px solid #244356;
	background-color: #244356;
	color:#fff; 
}
